@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffbe0b;
}

body {
    color: #ffbe0b;
    font-family: 'Dosis';
}

h1 {
    font-size: 4em;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3a86ff;
}

#board {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

/* Remove right borders */
.box:nth-child(3n) {
    border-right: none;
}
/* Remove bottom borders */
.box:nth-child(7) {
    border-bottom: none;
}
.box:nth-child(8) {
    border-bottom: none;
}
.box:nth-child(9) {
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    color: #8338ec;
    border-color: purple;
    font-size: 20px;
    background-color: #ffbe0b;
    position: absolute;
    margin-top: 690px;
}