@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #ffbe0b;
    --winning-blocks: #8338ec;
}

body {
    color: var(--#ffbe0b);
    font-family: 'Dosis';
}

/* h1 {
    font-size: ;
    text-transform: uppercase;
} */

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3a86ff;
}

#board {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

/* Remove right borders */
.box:nth-child(3n) {
    border-right: none;
}
/* Remove bottom borders */
.box:nth-child(7) {
    border-bottom: none;
}
.box:nth-child(8) {
    border-bottom: none;
}
.box:nth-child(9) {
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--yellow);
    color: #8338ec;
    border-color: var(--yellow);
    font-size: 20px;
    transition: 200ms transform;
}